.App {
  background: url("./background.png");
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
  min-width: 200px;
  float: left;
  display: inline;
}

.char h1 {
  color: rgb(255, 255, 255);
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
}

.home h1 {
  font-size: 36px;
  font-weight: bolder;
  margin-left: 500px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: white;
}

.slider {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  border: white 1px solid;
  width: 850px;
  height: 450px;
  border-radius: 10px;
}

.rightarrow {
  position: absolute;
  top: 50%;
  right: 4px;
  font-size: 3rem;
  color: rgb(255, 255, 255);
  z-index: 10;
  cursor: pointer;
}

.leftarrow {
  position: absolute;
  top: 50%;
  left: 2px;
  font-size: 3rem;
  color: rgb(255, 255, 255);
  z-index: 10;
  cursor: pointer;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}
